<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration debug="true">-->
<configuration packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan([%thread]) [%logger{36}] - %highlight(%msg%n)</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:\myApp.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.cloudyellow.scheduler.mapper" level="DEBUG" >
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.cloudyellow.scheduler.controller" level="DEBUG" >
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>